<div class="dashboard">
  <div class="most_recent">
    <div class="title">Most recent</div>
    <div class="cards">
      <app-card
        title="Major scale"
        description="Learn how to build and use the Major scale."
      ></app-card>

      <app-card
        title="Pentatonic scale"
        description="Learn how to build and use the Pentatonic scale."
      ></app-card>

      <app-card
        title="The Modes"
        description="Learn how to build and use the Modes."
      ></app-card>

      <app-card
        title="Triads"
        description="Learn how to build and use basic triads."
      ></app-card>
    </div>
  </div>

</div>
