<app-searchbar (onSearch)="onSearch($event)"></app-searchbar>
<div class="dashboard">
  <div class="favorites">
    <div class="title">Favorites</div>
    <div class="cards">
      <app-card *ngFor="let card of favorites"
                [title]="card.title"
                [description]="card.description"
                [tags]="card.tags"
                [tone]="card.tone"
                (click)="onCardClick(card.title)">
      </app-card>
    </div>
  </div>

  <div class="most_recent">
    <div class="title">Most recent</div>
    <div class="cards">
      <app-card *ngFor="let card of mostRecent"
                [title]="card.title"
                [description]="card.description"
                [tags]="card.tags"
                [tone]="card.tone"
                (click)="onCardClick(card.title)">
      </app-card>
    </div>
  </div>
</div>
