@import "/src/styles/variables";

.dashboard {
  display: flex;
  flex-flow: column;
  padding: 1rem;

  .empty {
    color: var(--empty-color);
    font-size: 48px;
    text-align: center;
  }

  .favorites {
    margin-bottom: 2rem;

    .title {
      color: var(--title-color);
      font-size: 32px;
      font-weight: 600;
    }

    .cards {
      display: flex;
      flex-wrap: wrap;
    }
  }

  .most_recent {
    .title {
      color: var(--title-color);
      font-size: 32px;
      font-weight: 600;
    }

    .cards {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
