<div class="card">
  <div class="card-text">
    <!-- TODO: Add dropdown note selector next to title. Will require new API! -->
    <div class="title">
      {{ title }}
      <div class="tags" *ngIf="tags">
        <app-tag *ngFor="let tag of tags" [tag]="tag"></app-tag>
      </div>
    </div>
    <div class="description">
      {{ description }}
    </div>
  </div>
  <div class="buttons">
    <i class="bx bx-star bookmark-icon" *ngIf="!isFavorite && showFavorite" (click)="onFavoriteClick()"></i>
    <i class="bx bxs-star bookmark-icon" *ngIf="isFavorite && showFavorite" (click)="onUnfavoriteClick()"></i>
    <i class="bx bx-play-circle play-icon" *ngIf="!isPlaying()" (click)="play($event)"></i>
    <i class="bx bx-stop-circle stop-icon" *ngIf="isPlaying()" (click)="stop($event)"></i>
  </div>
</div>
