<nav class="sidebar" #sidebar>
  <div class="logo">
    <i class="bx bx-lg bx-headphone"></i>
    <div class="logo_name" [class.logo_name-active]="isSidebarActive">MusicTheory</div>
  </div>
  <i class="bx bx-sm bx-menu" id="menu" (click)="onMenuClick()"></i>

  <ul class="nav_list">
    <li class="search" *ngIf="!isMobile"
        (mouseover)="onMouseOver()"
        (mouseout)="onMouseOut()"
        (click)="onSearchClick()">
      <i class="bx bx-sm bx-search search_icon" [class.search_icon-active]="isSidebarActive"></i>
      <input class="search_input" type="text" placeholder="Search..." *ngIf="isSidebarActive">
      <span class="tooltip" [ngStyle]="tooltipStyle" *ngIf="!isSidebarActive">Search</span>
    </li>
    <li>
      <app-sidebar-link text="Dashboard" icon="bx-grid-alt" href="dashboard" [isSidebarActive]="isSidebarActive"></app-sidebar-link>
    </li>
    <li>
      <app-sidebar-link text="Lessons" icon="bx-chalkboard" href="lessons" [isSidebarActive]="isSidebarActive"></app-sidebar-link>
    </li>
    <li>
      <app-sidebar-link text="Exercises" icon="bx-book" href="exercises" [isSidebarActive]="isSidebarActive"></app-sidebar-link>
    </li>
    <li>
      <app-sidebar-link text="Settings" icon="bx-cog" href="settings" [isSidebarActive]="isSidebarActive"></app-sidebar-link>
    </li>
  </ul>

  <!--<div class="profile_container">
    <div class="profile">
      <div class="details">
        <img src="assets/profile.png" alt="">
        <div class="name">Pablo Sánchez</div>
      </div>
      <div class="logout">
        <button class="logout_button">
          Log Out
          <i class="bx bx-sm bx-log-out" id="log_out"></i>
        </button>
      </div>
    </div>
  </div>-->
</nav>
