@import "../../../../../styles/variables";

:host {
  width: min-content;
}

a {
  overflow: hidden;
  text-decoration: none;
}

@media(max-width: $mobile-max-width) {
  .container {
    align-items: center;
    border-radius: .25rem;
    cursor: pointer;
    display: flex;
    flex-flow: column;
    padding: .25rem;
    transition: all 500ms ease;

    &:hover {
      background-color: var(--icon-hover-background-color);
      opacity: 1;
      transition: all 500ms ease;
      top: 50%;

      >.img {
        color: var(--icon-hover-color);
      }

      >.text {
        color: var(--icon-hover-color);
      }
    }

    &.active {
      background-color: var(--icon-active-background-color);

      >.img {
        color: var(--icon-active-color);
      }

      >.text {
        color: var(--icon-active-color);
      }
    }
  }

  .img {
    color: var(--icon-color);
  }

  .text {
    color: var(--text-color);
    font-size: 9px;
  }

  .tooltip {
    background-color: var(--tooltip-background-color);
    border-radius: .75rem;
    box-shadow: var(--tooltip-box-shadow);
    color: var(--tooltip-color);
    line-height: 32px;
    height: 32px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    left: -125%;
    text-align: center;
    top: 50%;
    transition: 0s;
    width: 112px;
    z-index: 11;
  }
}

@media(min-width: $desktop-min-width) {
  .container {
    align-items: center;
    border-radius: .75rem;
    cursor: pointer;
    display: flex;
    padding: .75rem;
    transition: all 500ms ease;

    &:hover {
      background-color: var(--icon-hover-background-color);
      opacity: 1;
      transition: all 500ms ease;
      top: 50%;

      >.img {
        color: var(--icon-hover-color);
      }

      >.text {
        color: var(--icon-hover-color);
      }
    }

    &.active {
      background-color: var(--icon-active-background-color);

      >.img {
        color: var(--icon-active-color);
      }

      >.text {
        color: var(--icon-active-color);
      }
    }
  }

  .img {
    color: var(--icon-color);
    margin-right: .75rem;
  }

  .text {
    color: var(--text-color);
    opacity: 0;
    transition: opacity 200ms ease;
  }

  .text-active {
    opacity: 1;
    transition: opacity 500ms ease;
  }

  .tooltip {
    background-color: var(--tooltip-background-color);
    border-radius: .75rem;
    box-shadow: var(--tooltip-box-shadow);
    color: var(--tooltip-color);
    left: 70px;
    line-height: 32px;
    height: 32px;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 0;
    transform: translateY(-50%);
    transition: 0s;
    width: 112px;
  }
}
