@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import "src/styles/variables";

*{
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body.dark {
  background-color: $dark-350;
  margin: 0;
}

body.light {
  background-color: $light-200;
}

ul {
  margin: 0;
  padding: 0;
}
